$TextColor: black;
$Font: 'Archivo', sans-serif;
$BackGroundColor: #e9e9e9;
$BorderColor: #bdbdbd;
$LineSpaceMargin: 0.4em;


.BirdScanContainer{

  display: grid;
  grid-template-columns: fit-content(100%) fit-content(100%); /* First column 300px, second column auto width */


}

.BirdScanMain{

  background-color: $BackGroundColor;
  font-family: $Font;
  color: $TextColor;
  border: 0.1em solid $BorderColor;

  width: fit-content;
  height: fit-content;

  max-width: 11.15em;

  padding: 0.5em;

  border-radius: 5%;

}

.BirdScanMainTableDisplayed{

  background-color: $BackGroundColor;
  font-family: $Font;
  color: $TextColor;
  border-left: 0.1em solid $BorderColor;
  border-bottom: 0.1em solid $BorderColor;
  border-top: 0.1em solid $BorderColor;

  width: fit-content;
  height: fit-content;

  max-width: 11.15em;

  padding: 0.5em;

  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}


.SectionHeader{

  margin-bottom: $LineSpaceMargin;

}

.URLorIPInputBox {

  margin-bottom: $LineSpaceMargin;

  width: fit-content;
  height: fit-content;
  border: 0.1em solid black;

  outline:none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  padding: 2px;

}

.URLorIPInputBox:hover{

  background-color: lightblue;
  cursor: pointer;

}

.URLorIPInputBox:focus{
  outline: none;
}


.Toggled{
  display: block;
}

.NotToggled{

  display: none;

}

.ScanTypeButtonContainer {
  display: flex;
  flex-direction: column;
}


.SubmitButton{

  width: fit-content;
  height: fit-content;
  background-color: white;
  border-radius: 0.5em;

  font: $Font;
  margin-top: $LineSpaceMargin;
  border: 0.1em solid black;

  appearance: none;
  -webkit-appearance: none;

}

.SubmitButton:hover {

  background-color: lightblue;
  cursor: pointer;
}

#CommonScanButton,
#FullScanButton,
#CustomScanButton {

  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 0.1em solid black;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;



}


#CommonScanButton:hover,
#FullScanButton:hover,
#CustomScanButton:hover {

  background-color: lightblue;

}
#CommonScanButton:checked,
#FullScanButton:checked,
#CustomScanButton:checked {
  border: 0.1em solid black;

  background: radial-gradient(black 40%,white 20%);

}



.PortRangeInputDiv{

  align-items: center;
  margin: 0;
  display: flex;

}

.PortRangeInputText{
  margin: 0;
  width: fit-content;

}

#PortRangeInput {
  width: 20.5%;
  max-width: 20.5%;
  height: fit-content;
}




#ErrorBox{

  margin: 0;
  padding: 0;
  border: 0;
  width: fit-content;

}

.ErrorMessage{

  color: red;
  font-size: 0.5em;

}

#TableDiv {

  background-color: $BackGroundColor;

  font-family: $Font;

  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;

  border-right: 0.1em solid $BorderColor;
  border-bottom: 0.1em solid $BorderColor;
  border-top: 0.1em solid $BorderColor;

  display: flex;

  flex-direction: column;

  align-self: end;

}

.BirdScanTable{


  margin: 0.5em;
  border: 2px solid $BorderColor;
  width: fit-content;
  height: fit-content;
  border-collapse: collapse; /* Ensures borders are collapsed into a single line */
  align-content: center;


}

.PortHeader{

  text-align: right;
  margin-left: 5px;
  margin-right: 5px;


}

.ServiceHeader{
  text-align: left;
  margin-left: 5px;
  margin-right: 5px;


}

.TablePort{

  text-align: right;
  padding-left: 5px;
  padding-right: 5px;


}

.TableService{
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;


}

th, td {
  border: 0.1em solid $BorderColor;
}


th {
  text-align: center;
}

td {
  text-align: justify-all;
  height: 20px;
  vertical-align: bottom;
}


.DownloadButton{

  display: flex;

  margin-top: 2em;

  padding-left: 6px;
  padding-right: 6px;

  padding-top: 1px;
  padding-bottom: 1px;


  width: fit-content;
  height: fit-content;

  align-self: center;

  background-color: white;
  border-radius: 0.5em;

  font: $Font;
  border: 0.1em solid black;

  appearance: none;
  -webkit-appearance: none;

}

.DownloadButton:hover{

  background-color: lightblue;

  cursor: pointer;

}

.DownloadButton:active{

  background-color: white;


}


.NotChecked{

}

.Checked{

}

