$TextColor: white;
$Font: 'Archivo', sans-serif;
$BackGroundColor: #50577A;
$BorderColor: #474E68;
$LineSpaceMargin: 0.4em;

$ButtonColor: #8f93bb;


$TableColor: #ffffff;

$ButtonBackgroundColor: #6B728E;

.BirdScanContainer{

  display: grid;
  grid-template-columns: fit-content(100%) fit-content(100%); /* First column 300px, second column auto width */


}

.BirdScanMain{

  background-color: $BackGroundColor;
  font-family: $Font;
  color: $TextColor;
  border: 0.1em solid $BorderColor;

  width: fit-content;
  height: fit-content;

  max-width: 11.15em;

  padding: 0.5em;

  border-radius: 5%;

}

.BirdScanMainTableDisplayed{

  background-color: $BackGroundColor;
  font-family: $Font;
  color: $TextColor;
  border-left: 0.1em solid $BorderColor;
  border-bottom: 0.1em solid $BorderColor;
  border-top: 0.1em solid $BorderColor;

  width: fit-content;
  height: fit-content;

  max-width: 11.15em;

  padding: 0.5em;

  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}

.SectionHeader{

  margin-bottom: $LineSpaceMargin;

}

.URLorIPInputBox {
  -webkit-box-shadow: 0 0 0 1000px $ButtonColor inset;

  box-sizing: border-box;
  border-radius: 0.3em; /* Adjust as needed */

  margin-bottom: $LineSpaceMargin;

  width: fit-content;
  height: fit-content;
  border: 0.1em solid $BorderColor;

  color: $TextColor;



  outline:none;
  appearance: none;
  padding: 2px;

}

.URLorIPInputBox:focus{
  outline: none;
  color: $TextColor;
}


.Toggled{
  display: block;
}

.NotToggled{

  display: none;

}

.ScanTypeButtonContainer {
  display: flex;
  flex-direction: column;
}

.SubmitButton{

  width: fit-content;
  height: fit-content;
  border-radius: 0.5em;

  color: white;

  background-color: $ButtonColor;

  font: $Font;
  margin-top: $LineSpaceMargin;
  border: 0.1em solid $BorderColor;

  appearance: none;
  -webkit-appearance: none;

}

.SubmitButton:hover {

  background-color: lightblue;
  cursor: pointer;
}

.SubmitButton:active {

  color: black;
  background-color: white;

}

#CommonScanButton,
#FullScanButton,
#CustomScanButton {

  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  vertical-align: middle;
  border: 0.1em solid $BorderColor;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  background-color: $ButtonColor;



}


#CommonScanButton:hover,
#FullScanButton:hover,
#CustomScanButton:hover {

  background-color: lightblue;

}
#CommonScanButton:checked,
#FullScanButton:checked,
#CustomScanButton:checked {

  border: 0.1em solid $BorderColor;

  background: radial-gradient(white 40%, $ButtonColor 20%);

}



.PortRangeInputDiv {
  align-items: center;
  margin-left: 2em;
  display: flex;
}

.PortRangeInputText {
  margin: 0;
  width: fit-content;
}

#PortRangeInput {
  -webkit-box-shadow:0 0 0 50px white inset;

  width: 29%;
  max-width: 29%;
  height: fit-content;
  box-sizing: border-box;
  border-radius: 0.3em;
  border: 0.1em solid $BorderColor;
}

#PortRangeInput:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;

  outline:none;
  appearance: none;
  -webkit-appearance: none;

  width: 29%;
  max-width: 29%;
  height: fit-content;
  border-radius: 0.3em;

}



#ErrorBox{

  margin: 0;
  padding: 0;
  border: 0;
  width: fit-content;

}

.ErrorMessage{

  color: red;
  font-size: 0.5em;

}




.TableDivActive {



background-color: $BackGroundColor;

font-family: $Font;

border-top-right-radius: 5%;
border-bottom-right-radius: 5%;

border-right: 0.1em solid $BorderColor;
border-bottom: 0.1em solid $BorderColor;
border-top: 0.1em solid $BorderColor;

display: flex;

flex-direction: column;

box-sizing: border-box;

align-self: end;


}

.BirdScanTable{



  margin: 0.5em;
  border: 1px solid $TableColor;

  width: fit-content;
  border-collapse: collapse; /* Ensures borders are collapsed into a single line */
  align-content: center;

  box-sizing: border-box;


}

.PortHeader{

  color: $TableColor;


  text-align: right;

  margin-left: 5px;
  margin-right: 5px;

  padding-left: 5px;
  padding-right: 5px;

}

.ServiceHeader{

  color: $TableColor;


  text-align: left;

  margin-left: 5px;
  margin-right: 5px;

  padding-left: 5px;
  padding-right: 5px;

}

.TablePort{

  color: $TableColor;

  text-align: right;

  padding-left: 5px;
  padding-right: 5px;


}

.TableService{

  color: $TableColor;


  text-align: left;

  padding-left: 5px;
  padding-right: 5px;


}

th, td {
  border: 0.1em solid $TableColor;
}


th {
  text-align: center;
}

td {
  text-align: justify-all;
  height: 20px;
  vertical-align: bottom;
}


.DownloadButton{

  display: flex;

  flex-direction: column;

  padding-left: 6px;
  padding-right: 6px;

  padding-top: 1px;


  width: fit-content;
  height: fit-content;

  align-self: center;

  margin-left: 0.5em;

  background-color: $ButtonColor;
  border-radius: 0.5em;

  color: white;

  font: $Font;
  border: 0.1em solid $BorderColor;

  appearance: none;
  -webkit-appearance: none;

}

.DownloadButton:hover{

  background-color: lightblue;

  cursor: pointer;

}

.DownloadButton:active{

  background-color: white;

}


.NotChecked{

}

.Checked{

}

